@(model: models.brackets.IndexModel)(implicit header: MenuModel)

@import play.api.libs.json.Json

@extraScripts = {
	<script src="@routes.Assets.at("brackets/jquery.bracket.min.js")"></script>
	<script>
		var brackets = brackets || {};
		brackets.data = @Html(Json.toJson(model).toString) || {};
	</script>
}

@extraCss = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("brackets/jquery.bracket.min.css")" />	
}

@main("Brackets", extraScripts = extraScripts, extraCss = extraCss) {


}
