@(model: models.brackets.IndexModel)(implicit header: MenuModel)

@import play.api.libs.json.Json

@extraScripts = {
	<script src="@routes.Assets.at("javascripts/knockout.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/lodash.min.js")"></script>
	<script src="@routes.Assets.at("brackets/jquery.bracket.min.js")"></script>
	<script>
		var brackets = brackets || {};
		brackets.index = brackets.index || {};
		brackets.index.data = @Html(Json.toJson(model).toString) || {};
	</script>
	<script src="@routes.Assets.at("javascripts/views/brackets/Index.js")"></script>
}

@extraCss = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("brackets/jquery.bracket.min.css")" />	
}

@main("Brackets", extraScripts = extraScripts, extraCss = extraCss) {

	
	<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>
}
