@(model: models.admin.seasons.GamesModel)(implicit header: MenuModel, req: RequestHeader)

@main("Matches in season 1") {
	<div class="panel panel-default">
		<div class="panel-heading"><h4>Games</h4></div>
		<div class="panel-body">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Team 1</th>
						<th>Team 2</th>
						<th>Scheduled Week</th>
						<th>Scheduled Time</th>
						<th>Status</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody>
					@for(game <- model.games) {
						<tr>
							<td>@game.team1</td>
							<td>@game.team2</td>
							<td>@game.scheduledWeek</td>
							<td>@game.scheduledTime</td>
							<td>Scheduled</td>
							<td>Remove</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}
