@(model: Seq[models.admin.seasons.SeasonModel])(implicit header: MenuModel, req: RequestHeader)

@import play.api.libs.json.Json

@extraScripts = {
	<script src="@routes.Assets.at("javascripts/knockout.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/moment.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/lodash.min.js")"></script>

	@helper.javascriptRouter("routes")(
		routes.javascript.SeasonController.remove
	)

	<script>
		var admin = admin || {};
		admin.seasons = admin.seasons || {};
		admin.seasons.index = admin.seasons.index || {};
		admin.seasons.index = {
			data: @Html(Json.toJson(model).toString) || {}
		};
	</script>
	<script src="@routes.Assets.at("javascripts/ajax.js")"></script>
	<script src="@routes.Assets.at("javascripts/views/admin/seasons/SeasonsRepository.js")"></script>
	<script src="@routes.Assets.at("javascripts/views/admin/seasons/Seasons.js")"></script>
}

@views.html.admin.seasons.seasonsTemplate("Manage Seasons", extraScripts = extraScripts) {
	@if(model.nonEmpty) {
		<div class="panel panel-default">
			<div class="panel-heading"><h4>Seasons</h4></div>

			<div data-bind="if: errorMessageShown">
				<div class="alert alert-danger alert-dismissable">
					<button 
						type="button" 
						class="close" 
						data-dismiss="alert" 
						aria-hidden="true"
						data-bind="click: clearErrorMessage">&times;</button>
					<p data-bind="text: errorMessage"></p>
				</div>
			</div>

			<table class="panel-body table table-striped table-hover" style="display: none;" data-bind="visible: true">
				<thead>
					<tr>
						<th>Name</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: seasons">
					<tr>
						<td><a data-bind="text: name, attr: { href: editLink }"></a></td>
						<td data-bind="text: niceStartDate"></td>
						<td data-bind="text: niceEndDate"></td>
						<td>
							<button class="btn btn-danger" data-bind="click: showRemoveConfirmation">Remove</button>
						</td>
					</tr>
					<tr data-bind="if: confirmationShown">
						<td colspan="4" class="danger">
							<button type="button" class="close" aria-hidden="true" data-bind="click: hideRemoveConfirmation">&times;</button>
							<div class="danger-row">
								<p class="text-danger">Are you sure you want to remove this season? It will remove all records associated with it.</p>
								<div>
									<button class="btn btn-primary" data-bind="click: hideRemoveConfirmation">No</button>
									<button class="btn btn-danger" data-bind="click: function() { removeSeason($parent); }">Yes</button>
									<span data-bind="if: isRemovingSeason">
										<img src="@routes.Assets.at("images/ajax-loader-danger.gif")" alt="Removing..." />
									</span>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	} else {
		<div class="jumbotron">
			<h1>There are no seasons yet.</h1>
		</div>
	}
}
