@(model: models.admin.seasons.Seasons)(implicit header: MenuModel)

@extraScripts = {
	<script src="@routes.Assets.at("javascripts/knockout.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/moment.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/views/admin/seasons/Seasons.js")"></script>
}

@main("Manage Seasons", extraScripts = extraScripts) {
	@if(model.seasons.nonEmpty) {
		<table class="table table-striped table-hover" style="display: none;" data-bind="visible: true">
			<thead>
				<tr>
					<th>Name</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody data-bind="foreach: seasons">
				<tr>
					<td><a href="#" data-bind="text: name"></a></td>
					<td data-bind="text: niceStartDate"></td>
					<td data-bind="text: niceEndDate"></td>
					<td>
						<form>
							<button type="submit">Remove</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	} else {
		<div class="jumbotron">
			<h1>There are no seasons yet.</h1>
		</div>
	}
}
