@(title: String, extraCss: Html = Html(""), extraScripts: Html = Html(""), extraNavItems: Html = Html(""))(content: Html)(implicit header: MenuModel)

@extraNavItemsTemplate = {
	<ul class="nav navbar-nav navbar-right nav-actions">
		<li><a href="@routes.SeasonsController.create">Add</a></li>
		<li><a href="@routes.SeasonsController.index">Seasons</a></li>
	</ul>

	@extraNavItems
}

@extraCssTemplate = {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/general.css")" />

    @extraCss
}

@extraScriptsTemplate = { 
	@extraScripts
}

@main(title, extraCssTemplate, extraScriptsTemplate, extraNavItemsTemplate) {
	@content
}
