.xbbcode-size-4 {
  font-size: 1.8em !important;
}

.xbbcode-size-5 {
  font-size: 2em !important;
}

.xbbcode-size-6 {
  font-size: 2.2em !important;
}

.xbbcode-size-7 {
  font-size: 2.4em !important;
}

.xbbcode-size-8 {
  font-size: 2.6em !important;
}

.xbbcode-size-9 {
  font-size: 2.8em !important;
}

.xbbcode-size-10 {
  font-size: 3em !important;
}

.xbbcode-size-11 {
  font-size: 3.2em !important;
}

.xbbcode-size-12 {
  font-size: 3.4em !important;
}

.xbbcode-size-13 {
  font-size: 3.6em !important;
}

.xbbcode-size-14 {
  font-size: 3.8em !important;
}

.xbbcode-size-15 {
  font-size: 4em !important; 
}

.xbbcode-size-16 {
  font-size: 4.2em !important;
}

.xbbcode-size-17 {
  font-size: 4.4em !important;
}

.xbbcode-size-18 {
  font-size: 4.6em !important;
}

.xbbcode-size-19 {
  font-size: 4.8em !important;
}

.xbbcode-size-20 {
  font-size: 5em !important;
}

.xbbcode-size-21 {
  font-size: 5.2em !important;
}

.xbbcode-size-22 {
  font-size: 5.4em !important;
}

.xbbcode-size-23 {
  font-size: 5.6em !important;
}

.xbbcode-size-24 {
  font-size: 5.8em !important;
}

.xbbcode-size-25 {
  font-size: 6em !important;
}

.xbbcode-size-26 {
  font-size: 6.2em !important;
}

.xbbcode-size-27 {
  font-size: 6.4em !important;
}

.xbbcode-size-28 {
  font-size: 6.6em !important;
}

.xbbcode-size-29 {
  font-size: 6.8em !important;
}

.xbbcode-size-30 {
  font-size: 7em !important;
}

.xbbcode-size-31 {
  font-size: 7.2em !important;
}

.xbbcode-size-32 {
  font-size: 7.4em !important;
}

.xbbcode-size-33 {
  font-size: 7.6em !important;
}

.xbbcode-size-34 {
  font-size: 7.8em !important;
}

.xbbcode-size-35 {
  font-size: 8em !important;
}

.xbbcode-size-36 {
  font-size: 8.2em !important;
}

.xbbcode-size-37 {
  font-size: 8.4em !important;
}

.xbbcode-size-38 {
  font-size: 8.6em !important;
}

.xbbcode-size-39 {
  font-size: 8.8em !important;
}

.xbbcode-size-40 {
  font-size: 9em !important;
}

