.nav-actions {
	padding-right: 24px;
	padding-left: 24px;
}

.center-text {
	text-align: center;
}

.right-text {
	text-align: right;
}

.danger-row {
	padding-left: 8px;
	padding-right: 8px;
}

.captain-button {
	margin-top: 16px;
}
