@(model: models.admin.games.EditGameModel)(implicit header: MenuModel, req: RequestHeader, seasonId: Int)

@title() = {
	@if(model.isNewGame) {
		Create Game
	} else { 
		Edit Game
	}
}

@views.html.admin.games.gamesTemplate(title.toString) {
	<div class="panel panel-default">
		<div class="panel-heading"><h4>@title</h4></div>
		<form 
			method="post" 
			action="@if(model.isNewGame) {@routes.GameController.saveNew(seasonId)} else {@routes.GameController.saveExisting(seasonId, model.gameId)}" 
			role="form" 
			class="panel-body">
			<input type="hidden" name="gameId" value="@model.gameId" />

			<fieldset>
				<div class="row form-group">
					@*<div class="col-xs-4 @if(errors.nameError.nonEmpty) { has-error }">
						<label for="teamName">Name</label>
						<input type="text" id="teamName" name="teamName" class="form-control" value="@model.teamName" />
						@if(errors.nameError.nonEmpty) {
							<span class="help-block">@errors.nameError.get</span>
						}
					</div>*@
				</div>
				<div class="row form-group">
					@*<div class="col-xs-4">
						<label for="isActive">Active</label>
						<input type="checkbox" id="isActive" name="isActive" @if(model.isActive) {checked="checked"} />
					</div>*@
				</div>
				<div class="row form-group">
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary">Save</button>
						<a class="btn btn-default" href="@routes.GameController.index(seasonId)">Cancel</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
}
