@(model: models.admin.games.GamesModel)(implicit header: MenuModel, req: RequestHeader, seasonId: Int)

@import _root_.data._
@import play.api.libs.json.Json

@extraScripts = {
	<script src="@routes.Assets.at("javascripts/knockout.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/lodash.min.js")"></script>
	<script>
		admin.games.index = {
			data: @Html(Json.toJson(model).toString) || {}
		};
	</script>
	<script src="@routes.Assets.at("javascripts/views/admin/games/Index.js")"></script>
}

@canAlter(game: models.admin.games.GameModel) = {
	@if(game.status != GameStatus.Pending) {disabled="disabled"}
}

@views.html.admin.games.gamesTemplate("Games", extraScripts = extraScripts) {
	@if(model.games.isEmpty) {
		<div class="jumbotron">
			<h1>There are no games for this season yet.</h1>
		</div>
	} else {
		<div class="panel panel-default">
			<div class="panel-heading"><h4>Games</h4></div>
			<div class="panel-body">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Team 1</th>
								<th>Team 2</th>
								<th>Scheduled Week</th>
								<th>Status</th>
								<th>Edit</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody data-bind="foreach: games">
							<tr>
								<td data-bind="text: team1"></td>
								<td data-bind="text: team2"></td>
								<td data-bind="text: scheduledWeek"></td>
								<td><a data-bind="text: gameStatus, attr: { href: resultsLink }"></a></td>
								<td><a class="btn btn-default" data-bind="attr: { href: editLink }, css: { 'disabled': !canAlterGame() }">Edit</a></td>
								<td>
									<form method="post" data-bind="attr: { action: removeLink }">
										<button class="btn btn-danger" data-bind="enable: canAlterGame">Remove</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
			</div>
		</div>
	}
}
