


<form role="form">
  <h4>Password Settings</h4>
  <fieldset>
    <!-- ko if: hasGlobalErrors -->
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6">
        <div class="alert alert-danger" data-bind="foreach: globalErrors">
          <p class="error" data-bind="text: $data"></p>
        </div>
      </div>
    </div>
    <!-- /ko -->
    <!-- ko if: successfullyUpdatedPassword -->
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6">
        <div class="alert alert-success" role="alert">
          <span>Password updated successfully</span>
        </div>
      </div>
    </div>
    <!-- /ko -->
    <div class="row form-group">
      <div class="col-xs-12 col-sm-8 col-md-6" data-bind="css: { 'has-error': hasCurrentPasswordError }">
        <label for="currentPassword" class="control-label">Current Password</label>
        <input type="password" class="form-control" id="currentPassword" data-bind="value: currentPassword" />
        <!-- ko if: hasCurrentPasswordError -->
        <span class="help-block" data-bind="text: currentPasswordError"></span>
        <!-- /ko -->
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-12 col-sm-8 col-md-6" data-bind="css: { 'has-error': hasNewPasswordError }">
        <label for="newPassword" class="control-label">New Password</label>
        <input type="password" class="form-control" id="newPassword" data-bind="value: newPassword" />
        <!-- ko if: hasNewPasswordError -->
        <span class="help-block" data-bind="text: newPasswordError"></span>
        <!-- /ko -->
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-12 col-sm-8 col-md-6" data-bind="css: { 'has-error': hasConfirmPasswordError }">
        <label for="confirmPassword" class="control-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" data-bind="value: confirmPassword" />
        <!-- ko if: hasConfirmPasswordError -->
        <span class="help-block" data-bind="text: confirmPasswordError"></span>
        <!-- /ko -->
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-12 col-sm-8 col-md-6">
        <button class="btn btn-primary" data-bind="click: updatePassword">Update Password</button>
        <a href="#" class="btn btn-default" data-bind="click: clearPasswordForm">Cancel</a>
      </div>
    </div>
  </fieldset>
</form>
