@(model: models.news.EditNews)(implicit header: MenuModel)

@import models.news.EditNews

@main(if(model.isNewNews) "Create News" else s"Edit News: $model.newsId") {
	@defining(if(model.isNewNews) routes.NewsController.saveNew else routes.NewsController.saveExisting(model.newsId)) { route =>
		<div class="panel panel-default">
			<form method="post" action="@route" role="form">
				<fieldset class="panel-body">
					<div class="row form-group">
						<div class="col-xs-4">
							<label for="subject" class="control-label">Subject</label>
							<input type="text" id="subject" name="subject" class="form-control" />
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-4">
							<label for="content" class="control-label">Content</label>
							<textarea type="text" id="content" name="content" class="form-control">@model.content</textarea>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-4">
							<button class="btn btn-primary">Save</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	}
}
