@()(implicit header: MenuModel)

@main("Manage News") {
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Subject</th>
				<th>Date Created</th>
				<th>Date Modified</th>
				<th>Posted by</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="#">Test news item</a></td>
				<td>now</td>
				<td>now</td>
				<td>Admin</td>
				<td><button class="btn btn-danger">Remove</button></td>
			</tr>
			<tr>
				<td><a href="#">Test news item</a></td>
				<td>now</td>
				<td>now</td>
				<td>Admin</td>
				<td><button class="btn btn-danger">Remove</button></td>
			</tr>
			<tr>
				<td><a href="#">Test news item</a></td>
				<td>now</td>
				<td>now</td>
				<td>Admin</td>
				<td><button class="btn btn-danger">Remove</button></td>
			</tr>
			<tr>
				<td><a href="#">Test news item</a></td>
				<td>now</td>
				<td>now</td>
				<td>Admin</td>
				<td><button class="btn btn-danger">Remove</button></td>
			</tr>
			<tr>
				<td><a href="#">Test news item</a></td>
				<td>now</td>
				<td>now</td>
				<td>Admin</td>
				<td><button class="btn btn-danger">Remove</button></td>
			</tr>
		</tbody>
	</table>
}