@(model: models.news.AdminNews)(implicit header: MenuModel)

@import play.api.libs.json.Json
@import models.news._

@extraScripts = {
	<script src="@routes.Assets.at("javascripts/moment.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/knockout.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/lodash.min.js")"></script>
	<script>
		var admin = admin || {};
		admin.news = admin.news || {};
		admin.news.index = admin.news.index || {};
		admin.news.index = {
			data: @Html(Json.toJson(model).toString) || {}
		};
	</script>
	<script src="@routes.Assets.at("javascripts/views/news/NewsIndex.js")"></script>
}

@newsTemplate("Manage News", extraScripts = extraScripts) {
	@if(model.newsItems.nonEmpty) {
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Subject</th>
					<th>Date Created</th>
					<th>Date Modified</th>
					<th>Posted by</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody data-bind="foreach: newsItems">
				<tr>
					<td><a data-bind="attr: { href: editUrl }, text: subject"></a></td>
					<td data-bind="text: niceDateCreated"></td>
					<td data-bind="text: niceDateModified"></td>
					<td data-bind="text: postedByUsername"></td>
					<td>
						<form method="post" >
							<button type="submit" class="btn btn-danger">Remove</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	} else {
		<div class="jumbotron">
			<h1>There are no news items yet.</h1>
		</div>
	}
}
