@(model: models.admin.teams.TeamIndexModel)(implicit header: MenuModel, req: RequestHeader)

@import play.api.libs.json.Json

@extraScripts = {
	<script src="@routes.Assets.at("javascripts/knockout.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/lodash.min.js")"></script>
	<script>
		var admin = admin || {};
		admin.teams = admin.teams || {};
		admin.teams.index = admin.teams.index || {};
		admin.teams.index.data = @Html(Json.toJson(model).toString) || {};

	</script>

	@helper.javascriptRouter("routes")(
		routes.javascript.TeamController.getTeamList
	)

	<script src="@routes.Assets.at("javascripts/views/admin/teams/TeamsRepository.js")"></script>
	<script src="@routes.Assets.at("javascripts/views/admin/teams/Teams.js")"></script>
}

@main("Manage Teams", extraScripts = extraScripts) {
	<div class="panel panel-default">
		<div class="panel-body form-horizontal">
			<div class="form-group">
				<label for="seasonSelection" class="col-sm-1 form-label">Season</label>
				<div class="col-sm-4">
					<select 
						id="seasonSelection" 
						class="form-control" 
						data-bind="options: availableSeasons, 
							optionsText: 'seasonName', 
							value: selectedSeason, 
							optionsCaption: 'Select a season'"></select>
				</div>
			</div>

			<!-- ko if: selectedSeason() -->
			<div class="form-group">
				<label for="teamSelection" class="col-sm-1 form-label">Team</label>
				<div class="col-sm-4">
					<select id="teamSelection" class="form-control"></select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-1 col-sm-10">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-4">arst</div>
							<div class="col-md-4">arst</div>
							<div class="col-md-4">arst</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /ko -->
			<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>
		</div>
	</div>
}
