@(model: NewsModel)(implicit header: MenuModel)

@extraCss = {
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("xbbcode/xbbcode.css")" />
}

@extraScripts = {
	<script src="@routes.Assets.at("javascripts/moment.min.js")"></script>
  <script src="@routes.Assets.at("xbbcode/xbbcode.js")"></script>
	<script>
		var dateToUtc = function(date) {
			return moment.utc(date).calendar();
		};
	</script>
}

@main("International Doom League", extraScripts = extraScripts, extraCss = extraCss) {
	@if(model.newsItems.isEmpty) {
		<div class="jumbotron">
			<h1>There are no news items yet.</h1>

			@if(header.canSeeAdminMenu) {
				<p>
					Head to the <a href="@routes.NewsController.index">news page</a> to add some articles.
				</p>
			}
		</div>
	}

	@for(news <- model.newsItems) {
		<div class="panel panel-default">
			<div class="panel-heading">@news.subject</div>
			<div class="panel-body">@Html(news.body)</div>
		</div>
	}
}
