@(model: NewsModel)(implicit header: MenuModel)

@extraScripts = {
	<script src="@routes.Assets.at("javascripts/moment.min.js")"></script>
}

@main("International Doom League", extraScripts = extraScripts) {
	@if(model.newsItems.isEmpty) {
		<div class="jumbotron">
			<h1>There are no news items yet.</h1>
			<p>
				Head to the <a href="#">news page</a> to add some articles.
			</p>
		</div>
	}

	@for(news <- model.newsItems) {
		<div class="panel panel-default">
			<div class="panel-heading">@news.subject</div>
			<div class="panel-body">@news.content</div>
		</div>
	}
}
