@(model: NewsModel)(implicit header: MenuModel)

@import play.api.libs.json.Json

@extraCss = {
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("xbbcode/xbbcode.css")" />
}

@extraScripts = {
  <script src="@routes.Assets.at("javascripts/knockout.min.js")"></script>
  <script src="@routes.Assets.at("xbbcode/xbbcode.js")"></script>
  <script>
    var index = {
      data: @Html(Json.toJson(model).toString) || {},
      viewModel: (function(ko, bbcode) {
        var newsItem = (function() {
          var Model = function(data) {
            this.msgId = ko.observable();
            this.subject = ko.observable();
            this.body = ko.observable();
            this.posterName = ko.observable();
            this.topicId = ko.observable();

            this.initialize(data);

            this.formattedBody = ko.computed(function() {
              var text = this.body();
              return bbcode.process({
                text: text,
                removeMisalignedTags: false,
                addInLineBreaks: false
              }).html.replace(/&lt;br *\/&gt;/g, '<br />');
            }, this);

            this.forumLink = ko.computed(function() {
              return 'http://forums.intldoomleague.com/index.php/topic,' + this.topicId() + '.0.html';
            }, this);
          };

          ko.utils.extend(Model.prototype, {
            initialize: function(data) {
              this.msgId(data.msgId);
              this.subject(data.subject);
              this.body(data.body);
              this.posterName(data.posterName);
              this.topicId(data.topicId);
            }
          });

          return Model;
        })();

        var Model = function(data) {
          this.newsItems = ko.observableArray([]);
          
          this.initialize(data);
        };

        ko.utils.extend(Model.prototype, {
          initialize: function(data) {
            var i;
            for(i = 0; i < data.newsItems.length; i++) {
              this.newsItems.push(new newsItem(data.newsItems[i]));
            }
          }
        });

        return Model;
      })(ko, XBBCODE)
    };

    ko.applyBindings(new index.viewModel(index.data));
  </script>
}

@main("International Doom League", extraScripts = extraScripts, extraCss = extraCss) {
  @if(model.newsItems.isEmpty) {
    <div class="jumbotron">
      <h1>There are no news items yet.</h1>

      @if(header.canSeeAdminMenu) {
        <p>
          Head to the <a href="@routes.NewsController.index">news page</a> to add some articles.
        </p>
      }
    </div>
  }

  <!-- ko foreach: newsItems -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <div data-bind="html: subject"></div>
      <div>Posted By: <span data-bind="text: posterName"></span></div>
    </div>
    <div class="panel-body">
      <p data-bind="html: formattedBody"></p>
      <div class="pull-right">
        <a data-bind="attr: { href: forumLink }">Read more</a>
      </div>
    </div>
  </div>
  <!-- /ko -->
}
