@(title: String, extraCss: Html = Html(""), extraScripts: Html = Html(""), extraNavItems: Html = Html(""))(content: Html)(implicit header: MenuModel)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap/bootstrap.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/app.css")" /> 
        @extraCss

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")" />
        <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@routes.HomeController.index">IDL</a>
                </div>

                @if(header.username.isDefined) {
                    <form role="form" class="navbar-form navbar-right" method="post" action="@routes.ProfileController.logout">
                        <button type="submit" class="btn btn-default">Logout</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        @if(header.canSeeAdminMenu) {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@routes.TeamController.index">Teams</a></li>
                                    <li><a href="@routes.SeasonController.index">Seasons</a></li>
                                </ul>
                            </li>
                        }
                        <li><a href="@routes.ProfileController.index">@header.username</a></li>
                    </ul>
                } else {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@routes.ProfileController.login">Login</a></li>
                        @*<li><a href="@routes.RegistrationController.index">Register</a></li>*@
                    </ul>
                }
                
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://forums.intldoomleague.com">Forums</a></li>
                    <li><a href="@routes.BracketsController.index">Brackets</a></li>
                </ul>

                @extraNavItems
            </div>
        </nav>
        <div class="container">
            @content
        </div>
        
        @extraScripts
    </body>
</html>
