@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap-theme.min.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
    </head>
    <body>
    	<nav class="navbar navbar-default" role="navigation">
    		<div class="container-fluid">
    			<div class="navbar-header">
    				<a class="navbar-brand" href="@routes.Application.index">IDL</a>
    			</div>
    			<ul class="nav navbar-nav navbar-right">
    				<li><a href="@routes.ProfileController.get">Login</a></li>
    			</ul>
    		</div>
    	</nav>
    	<div class="container">
        	@content
        </div>
    </body>
</html>
