@(model: models.profile.ForgotPasswordModel)(implicit header: MenuModel, req: RequestHeader)

@extraCss = {
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/profile.css")" />
}

@extraScripts = {
  <script>
    (function($) {
      $(function() {
        $('#username').focus();
      });
    })(jQuery);
  </script>
}

@main("Forgot Password", extraScripts = extraScripts, extraCss = extraCss) {
  <form method="post" role="form" class="panel panel-default">
    <div class="panel-heading">
      <h3>Login</h3>
    </div>
    <div class="panel-body">
      <div class="row form-group">
        <div class="col-xs-4">
          <label for="username">Username (email address)</label>
          <input type="text" class="form-control" id="username" name="username" value="" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary">Recover</button>
        </div>
      </div>
    </div>
  </form>
}
