@(model: models.profile.IndexModel)(implicit header: MenuModel, req: RequestHeader)

@import play.api.libs.json.Json

@extraScripts = {
  <script src="@routes.Assets.at("javascripts/knockout.min.js")"></script>
	@helper.javascriptRouter("routes")(
    routes.javascript.ProfileController.becomePlayer
	)
  <script src="@routes.Assets.at("javascripts/ajax.js")"></script>
  <script>
    var profile = profile || {};
    profile.index = profile.index || {};
    profile.index.data = @Html(Json.toJson(model).toString) || {};
  </script>
  <script src="@routes.Assets.at("javascripts/views/profile/ProfileRepository.js")"></script>
  <script src="@routes.Assets.at("javascripts/views/profile/IndexModel.js")"></script>
}

@views.html.profile.profileTemplate("Profile", extraScripts = extraScripts) {
	<div class="panel panel-default" style="display: none;" data-bind="visible: true">
		<div class="panel-heading">
			<h4>Manage Profile</h4>
		</div>
		<div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked" role="tablist">
            <li class="active"><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
            <!-- ko if: profileIsPlayer -->
            <li><a href="#player" role="tab" data-toggle="tab">Player</a></li>
            <li><a href="#team" role="tab" data-toggle="tab">Teams</a></li>
            <!-- /ko -->
          </ul>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <!-- ko if: profileIsNowPlayer -->
              <div class="alert alert-success">
                <p data-bind="text: profileIsNowPlayerMessage"></p>
              </div>
              <!-- /ko -->

              <!-- ko ifnot: profileIsPlayer -->
              <form role="form">
                <div class="form-group alert alert-info">
                  <h5>You are not currently an IDL player, would you like to become one?</h5>
                  <button class="btn btn-primary" data-bind="click: makeProfilePlayer">Yes Please</button>
                </div>
              </form>
              <!-- /ko -->
              <form method="post" action="@routes.ProfileController.updatePassword" class="panel panel-default" role="form">
                <div class="panel-heading">Password</div>
                <fieldset class="panel-body">
                  <div class="row form-group">
                    <div class="col-xs-4">
                      <label for="currentPassword" class="control-label">Current Password</label>
                      <input type="password" class="form-control" id="currentPassword" name="currentPassword" />
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-xs-4">
                      <label for="newPassword" class="control-label">New Password</label>
                      <input type="password" class="form-control" id="newPassword" name="newPassword" />
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-xs-4">
                      <label for="confirmPassword" class="control-label">Confirm Password</label>
                      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" />
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-xs-4">
                      <button type="submit" class="btn btn-primary">Update Password</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
            <!-- ko if: profileIsPlayer -->
            <div class="tab-pane" id="player"></div>
            <div class="tab-pane" id="team"></div>
            <!-- /ko -->
          </div>
        </div>
      </div>
		</div>
	</div>
}
