@(model: models.profile.IndexModel)(implicit header: MenuModel, req: RequestHeader)

@import play.api.libs.json.Json

@extraCss = {
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/profile.css")" />
}

@extraScripts = {
  <script src="@routes.Assets.at("javascripts/knockout.min.js")"></script>
  <script src="@routes.Assets.at("javascripts/lodash.min.js")"></script>
	@helper.javascriptRouter("routes")(
    routes.javascript.ProfileController.becomePlayer,
    routes.javascript.ProfileController.updatePassword
	)
  <script src="@routes.Assets.at("javascripts/ajax.js")"></script>
  <script>
    var profile = profile || {};
    profile.index = profile.index || {};
    profile.index.data = @Html(Json.toJson(model).toString) || {};

    $('ul.nav.nav-pills > li > a').on('shown.bs.tab', function(e) {
      var id = $(e.target).attr('href').substr(1);
      window.location.hash = id;
    });

    var hash = window.location.hash;
    if(hash) {
      $('ul.nav.nav-pills > li a[href="' + hash + '"]').tab('show');
    } else {
      $('ul.nav.nav-pills > li > a:first').tab('show');
    }
  </script>
  <script src="@routes.Assets.at("javascripts/views/profile/ProfileRepository.js")"></script>
  <script src="@routes.Assets.at("javascripts/views/profile/IndexModel.js")"></script>
}

@main("Profile", extraScripts = extraScripts, extraCss = extraCss) {
	<div class="panel panel-default" style="display: none;" data-bind="visible: true">
		<div class="panel-heading">
			<h4>Manage Profile</h4>
		</div>
		<div class="panel-body">
      <!-- ko if: profileIsNowPlayer -->
      <div class="alert alert-success">
        <p data-bind="text: profileIsNowPlayerMessage"></p>
      </div>
      <!-- /ko -->
      <div class="row">
        <div class="col-md-3">
          <ul class="hidden-sm nav nav-pills nav-stacked" role="tablist">
            <li><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
            <!-- ko if: profileIsPlayer -->
            <li><a href="#player" role="tab" data-toggle="tab">Player</a></li>
            <li><a href="#team" role="tab" data-toggle="tab">Teams</a></li>
            <!-- /ko -->
          </ul>
          <ul class="visible-sm nav nav-pills profile-nav-sm" role="tablist">
            <li><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
            <!-- ko if: profileIsPlayer -->
            <li><a href="#player" role="tab" data-toggle="tab">Player</a></li>
            <li><a href="#team" role="tab" data-toggle="tab">Teams</a></li>
            <!-- /ko -->
          </ul>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <!-- ko ifnot: profileIsPlayer -->
              <form role="form">
                <div class="form-group alert alert-info">
                  <h5>You are not currently an IDL player, would you like to become one?</h5>
                  <button class="btn btn-primary" data-bind="click: makeProfilePlayer">Yes Please</button>
                </div>
              </form>
              <!-- /ko -->

              <form class="panel panel-default" role="form" data-bind="with: passwordModel">
                <div class="panel-heading">Password</div>
                <fieldset class="panel-body">
                  <!-- ko if: hasGlobalErrors -->
                  <div class="alert alert-danger" data-bind="foreach: globalErrors">
                    <p class="error" data-bind="text: $data"></p>
                  </div>
                  <!-- /ko -->
                  <!-- ko if: successfullyUpdatedPassword -->
                  <div class="alert alert-success" role="alert">
                    <span>Password updated successfully</span>
                  </div>
                  <!-- /ko -->
                  <div class="row form-group">
                    <div class="col-xs-6" data-bind="css: { 'has-error': hasCurrentPasswordError }">
                      <label for="currentPassword" class="control-label">Current Password</label>
                      <input type="password" class="form-control" id="currentPassword" data-bind="value: currentPassword" />
                      <!-- ko if: hasCurrentPasswordError -->
                      <span class="help-block" data-bind="text: currentPasswordError"></span>
                      <!-- /ko -->
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-xs-6" data-bind="css: { 'has-error': hasNewPasswordError }">
                      <label for="newPassword" class="control-label">New Password</label>
                      <input type="password" class="form-control" id="newPassword" data-bind="value: newPassword" />
                      <!-- ko if: hasNewPasswordError -->
                      <span class="help-block" data-bind="text: newPasswordError"></span>
                      <!-- /ko -->
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-xs-6" data-bind="css: { 'has-error': hasConfirmPasswordError }">
                      <label for="confirmPassword" class="control-label">Confirm Password</label>
                      <input type="password" class="form-control" id="confirmPassword" data-bind="value: confirmPassword" />
                      <!-- ko if: hasConfirmPasswordError -->
                      <span class="help-block" data-bind="text: confirmPasswordError"></span>
                      <!-- /ko -->
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-xs-6">
                      <button class="btn btn-primary" data-bind="click: updatePassword">Update Password</button>
                      <a href="#" class="btn btn-default" data-bind="click: clearPasswordForm">Cancel</a>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
            <!-- ko if: profileIsPlayer -->
            <div class="tab-pane" id="player">
              
            </div>
            <div class="tab-pane" id="team"></div>
            <!-- /ko -->
          </div>
        </div>
      </div>
		</div>
	</div>
}
